* {
  margin: 0px;
  padding: 0;
}
body {
  background-color: rgb(213, 215, 216);
}

#rightSideWrapper {
  /*Strictly Necessary */
  position: absolute;
  top: 50px;
  width: 95%;
  /* float: right; */
  margin-left: 70px;

  /*Aesthetics*/
  /* background: black; */
}

.ContentBox {
  /* margin-top: 50px; The height of the   header */
  display: flex;
  flex-flow: row wrap;
}

main,
section,
footer {
  /*Aesthetics*/
  background: lightgray;
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
}

main {
  /*Strictly Necessary */
  height: 100%;
  order: 1;
  flex: 0 1 100%;
}

section {
  /*Strictly Necessary */
  height: 400px;
  order: 2;
  flex: 0 1 100%;
}
